.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0 20px 0;
  margin-bottom: 20px;
}

.nav-bar-title {
  font-size: 32px;
  margin-left: 32px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4px;
  margin-top: 20px;
  background-color: #D3D3D3;
}

.event {
  display: flex;
  /* padding: 15px 0; */
  /* border-top: 1px solid #757575; */
  border-radius: 10px;
  border: 1px solid #757575;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: start;
}

.event-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.event-information {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
